server:
  port: 8080


spring:
  config:
    import: classpath:auth-common-application.yml
  application:
    name: eatngo-customer-api
  datasource:
    # H2 메모리 DB를 PostgreSQL 모드로 실행
    url: jdbc:h2:mem:eatngo;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    username: sa
    password: sa
    driverClassName: org.h2.Driver
  jpa:
    open-in-view: false
    # Hibernate가 PostgreSQL 방언을 사용하도록 설정
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  h2:
    console:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379

datastore:
  mongodb:
    uri: mongodb://localhost:27017/eatngo
    database: eatngo
    username: eatngo-owner
    password: eatngolocal

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

swagger:
  title: "EatNGo 사용자 API"
  description: "EatNGo 서비스의 사용자용 API 문서"
  version: "v1.0.0"

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
